apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: ecovista
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: ecovista-frontend:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3000
        env:
        - name: REACT_APP_AUTH_API
          value: "http://localhost:5001"
        - name: REACT_APP_ACTIVITY_API
          value: "http://localhost:5002"
        - name: REACT_APP_DESTINATION_API
          value: "http://localhost:5003"
        - name: REACT_APP_REVIEW_API
          value: "http://localhost:5004"
        - name: REACT_APP_TRAVELGROUP_API
          value: "http://localhost:5005"
        - name: REACT_APP_USER_API
          value: "http://localhost:5006"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: ecovista
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30000
